


<!-- Scroll to Top  -->
<a href="#" class="scroll-up"><i class="fa fa-arrow-up"></i></a>
<!-- End Scroll To Top  -->
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/retina.min.js"></script>
    <script src="/public/js/jquery.easing.min.js"></script>
    <script src="/public/js/wow.min.js"></script>   
    <script src="/public/js/waypoints.min.js"></script> 
    <script src="/public/js/jquery.countTo.js"></script>
    <script src="/public/js/jquery.mixitup.min.js"></script>
    <script src="/public/js/jquery.prettyPhoto.js"></script>    
    <script src="/public/js/jquery.knob.min.js"></script>   
    <script src="/public/js/jquery.validate.min.js"></script>
    <script src="/public/js/custom.js"></script>
  

</body>
</html>