<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>Project Vikas</title>  
  <link href="/public/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/public/css/animate.min.css" rel="stylesheet" > 
  <link href="/public/css/font-awesome.min.css" rel="stylesheet"> 
  <link href="/public/css/prettyPhoto.css" rel="stylesheet">
  
  <link href="/public/css/theme.css" rel="stylesheet">  
  <link rel="stylesheet" href="/public/switcher/switcher.css">
  <link href="/public/css/colors/blue.css" rel="stylesheet" class="colors">

  <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    
  <!-- Favicons -->
    <link rel="shortcut icon" href="/public/images/ico/favicon.ico">  
    <link rel="apple-touch-icon" href="/public/images/ico/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/images/ico/apple-touch-icon-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/images/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/images/ico/apple-touch-icon-144.png">
<!-- Chart -->

    <script type="text/javascript" src="/public/chart/Chart.bundle.js"></script>
    <script type="text/javascript" src="/public/chart/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="/public/chart/Chart.js"></script>
    <script type="text/javascript" src="/public/chart/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/chart/Chart.css">
    <link rel="stylesheet" type="text/css" href="/public/chart/Chart.min.css">

</head>
