<% include partials/header %>

<body data-spy="scroll" data-target="#mynav" data-offset="85">

<!-- Preloader --> 
<div id="preloader">
    <div id="status">
        <div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
        </div>
    </div>
</div>
<!-- End Preloader -->

<header>

<!-- Bootstrap Menu -->
<div id="navigation">
    <div class="navbar-wrapper">
        <nav class="navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"></a>
                    </div>
                    <div id="mynav" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav main-nav-list" style="float: left;">
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#team">Team</a></li>                            
                            <li><a href="#contacts">Contact</a></li>                                
                        </ul>
                        <ul class="nav navbar-nav main-nav-list" style="float: right;">
                            <li><a href="/register">Sign Up</a></li>                                
                        </ul>
                        <ul class="nav navbar-nav main-nav-list" style="float: right;">
                            <li><a href="/login">Sign In</a></li>                                
                        </ul> 
                    </div>      
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- End Bootstrap Menu -->

<!-- Slider -->
<section id="home">
    <div class="slide-wrap">
        <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">                
                <div class="item active"> <!-- Change Image -->
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig"><strong>GIVE</strong> and IMPROVE</h1>
                        <p class="animated fadeInRightBig">Take the surveys</p>
                        <a data-scroll class="learn-more animated fadeInUpBig" href="#about" style="color:black;background-color:#00ff00">Go To Survey</a>
                    </div>
                </div>
                <div class="item"> <!-- Change Image -->
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig">We care <strong>For You</strong></h1>
                        <p class="animated fadeInRightBig">Ready to Start</p>
                        <a data-scroll class="learn-more animated fadeInUpBig" href="#about" style="color:black;background-color:#00ff00">Go To Survey</a>
                    </div>
                </div>
            </div>
            <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
        </div>  
    </div>  
</section>
<!-- End Slider -->

</header>


<!-- About Xlight -->
<section class="section-wrapper" id="about">
    <div class="about-us">
        <div class="why-us">      
            <div class="container">   
                <div class="row">
                    <!-- Block Title -->
                    <div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">          
                        <h1><span>ABOUT PROJECT VIKAS</span></h1>                           
                    </div>
                    <div class="element-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">            
                        <h1>Why We Do? ?</h1>
                        <h3>Your small contribution is valueable to us. You provide us the data and we will work to <span class="main-color">UPLIFT</span> Your <span class="main-color">Living Conditions.</span></h3>
                    </div>
                    <!-- End Block Title -->
                    <!-- About Us Icons -->
                    <div class="wrapper-why-us">
                        <div class="col-lg-4 col-sm-4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
                            <a href="/login"><i class="hovicon effect-1 sub-a"><b class="fa fa-tablet"></b></i></a>
                            <h2>Water Availability</h2>
                        </div>
                        <div class="col-lg-4 col-sm-4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="450ms">
                            <a href="/login"><i class="hovicon effect-1 sub-a"><b class="fa fa-tablet"></b></i></a>
                            <h2>Electricity</h2>                            
                        </div>
                        <div class="col-lg-4 col-sm-4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="600ms">
                            <a href="/login"><i class="hovicon effect-1 sub-a"><b class="fa fa-tablet"></b></i></a>
                            <h2>Cleanlyness</h2>                            
                        </div>
                        <div class="col-lg-4 col-sm-4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="750ms">
                            <a href="/login"><i class="hovicon effect-1 sub-a"><b class="fa fa-tablet"></b></i></a>
                            <h2>Per Capital Income</h2>                            
                        </div>
                        <div class="col-lg-4 col-sm-4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="900ms">
                            <a href="/login"><i class="hovicon effect-1 sub-a"><b class="fa fa-tablet"></b></i></a>
                            <h2>Health</h2>                            
                        </div>
                        <div class="col-lg-4 col-sm-4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="1050ms">
                            <a href="/login"><i class="hovicon effect-1 sub-a"><b class="fa fa-tablet"></b></i></a>
                            <h2>Literacy</h2>                            
                        </div>
                    </div>
                    <!-- End About Us Icons -->
                </div>
            </div>
        </div>
    </div>
    <!-- End About Xlight -->


    <!-- Facts --> 
    <div class="facts parallax">
        <div class="overlay">
            <div class="wrapper-block-facts">
                <div class="container">   
                    <div class="row">
                        <div class="element-title">         
                            <h1 class="main-color wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Number Of Users Registered With Us</h1>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="wrapper-number">                                
                            <div class="col-lg-12 col-md-12">
                                <div class="number wow fadeInRight" data-wow-duration="1s" data-wow-delay="750ms">
                                    <p class="timer" data-from="0" data-to="102457" data-speed="3000">8912</p>      
                                </div>
                                <div class="number-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="750ms">
                                    USERS
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Facts --> 

</section> 
<!-- End About Section --> 

<!-- Team Section --> 
<section class="section-wrapper" id="team">
    <div class="team">
        <!-- Block Title -->
        <div class="meet-the-team">         
            <div class="element-title">         
                <div class="row">           
                    <div class="container">  
                    <div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">            
                        <h1><span>MEET THE TEAM</span></h1>                             
                    </div>                  
                        <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Our Creative Team</h1>
                    </div>
                </div>
            </div>
            <!-- End Block Title -->
            <div class="row">
                <div class="container"> 
                    <div class="wrapper-team">              
                        <div class="col-lg-3 col-md-3">
                            <div class="team-member">
                                <div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="300ms">
                                    <div class="team-member-image">
                                        <img src="/public/images/team/member-1.jpg" alt="" /> <!-- Change Image --> 
                                        <div class="team-overlay">
                                            <div class="img-overlay"></div>
                                        </div>
                                        <div class="overlay-content"> 
                                            <div class="team-member-social-list">
                                                <a class="team-member-social-list-item" href="#"><i class="fa fa-facebook"></i></a>
                                                <a class="team-member-social-list-item" href="#"><i class="fa fa-twitter"></i></a>
                                                <a class="team-member-social-list-item" href="#"><i class="fa fa-envelope"></i></a>
                                            </div>
                                            <a class="view-profile profile-read-more" href="#" data-single_url="https://www.linkedin.com/in/gaurav-kumar-sharma-269ab5136">Profile</a>                                      
                                        </div>
                                    </div>
                                    <div class="team-member-meta">
                                        <h4 class="team-member-name"><span class="main-color">G</span>aurav <span class="main-color">S</span>harma</h4>
                                        <div class="team-member-role">CEO</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="team-member">
                                <div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="500ms">
                                    <div class="team-member-image">
                                        <img src="/public/images/team/member-2.jpg" alt="" /> <!-- Change Image --> 
                                        <div class="team-overlay">
                                            <div class="img-overlay"></div>
                                        </div>
                                        <div class="overlay-content"> 
                                            <div class="team-member-social-list">
                                                <a class="team-member-social-list-item" href="#"><i class="fa fa-facebook"></i></a>
                                                <a class="team-member-social-list-item" href="#"><i class="fa fa-twitter"></i></a>
                                                <a class="team-member-social-list-item" href="#"><i class="fa fa-envelope"></i></a>
                                            </div>
                                            <a class="view-profile profile-read-more" href="#" data-single_url="https://www.linkedin.com/in/gaurav-kumar-sharma-269ab5136">Profile</a>                                      
                                        </div>
                                    </div>
                                    <div class="team-member-meta">
                                        <h4 class="team-member-name"><span class="main-color">M</span>ark <span class="main-color">W</span>ood</h4>
                                        <div class="team-member-role">Creative Director</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="team-member">
                                <div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="800ms">
                                    <div class="team-member-image">
                                        <img src="/public/images/team/member-3.jpg" alt="" /> <!-- Change Image --> 
                                        <div class="team-overlay">
                                            <div class="img-overlay"></div>
                                        </div>
                                        <div class="overlay-content"> 
                                            <div class="team-member-social-list">
                                                <a class="team-member-social-list-item" href="#"><i class="fa fa-facebook"></i></a>
                                                <a class="team-member-social-list-item" href="#"><i class="fa fa-twitter"></i></a>
                                                <a class="team-member-social-list-item" href="#"><i class="fa fa-envelope"></i></a>
                                            </div>
                                            <a class="view-profile profile-read-more" href="#" data-single_url="https://www.linkedin.com/in/gaurav-kumar-sharma-269ab5136">Profile</a>                                          
                                        </div>
                                    </div>
                                    <div class="team-member-meta">
                                        <h4 class="team-member-name"><span class="main-color">K</span>en <span class="main-color">S</span>mith</h4>
                                        <div class="team-member-role">Sales Manager</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="team-member">
                                <div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="1100ms">
                                    <div class="team-member-image">
                                        <img src="/public/images/team/member-4.jpg" alt="" /> <!-- Change Image --> 
                                        <div class="team-overlay">
                                            <div class="img-overlay"></div>
                                        </div>
                                        <div class="overlay-content"> 
                                            <div class="team-member-social-list">
                                                <a class="team-member-social-list-item" href="#"><i class="fa fa-facebook"></i></a>
                                                <a class="team-member-social-list-item" href="#"><i class="fa fa-twitter"></i></a>
                                                <a class="team-member-social-list-item" href="#"><i class="fa fa-envelope"></i></a>
                                            </div>
                                            <a class="view-profile profile-read-more" href="#" data-single_url="https://www.linkedin.com/in/gaurav-kumar-sharma-269ab5136">Profile</a>                                      
                                        </div>
                                    </div>
                                    <div class="team-member-meta">
                                        <h4 class="team-member-name"><span class="main-color">J</span>amie <span class="main-color">D</span>uff</h4>
                                        <div class="team-member-role">Senior Developer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Profile Team -->
        <div id="team-single-wrap">
            <div id="team-single">
            </div>
        </div>
        <!-- End Profile Team -->   
    </div>          
</section> 
<!-- End Team Section --> 
    
<!-- Contact Section --> 
<section class="section-wrapper" id="contacts">
    <!-- Contacts -->   
    <div class="contacts"> 
    
        <!-- Block Title -->    
        <div class="element-title">         
            <div class="row">           
                <div class="container">
                    <div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">            
                        <h1><span>Contact Us</span></h1>                            
                    </div>              
                    <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Contact Our <span class="main-color">Staff </span> to ask to Clarify any doubts</h3> 
                </div>
            </div>
        </div>
        <!-- End Block Title -->    
    
        <div class="container">
            <div class="row">   
                <div class="wrapper-contacts">      
                    <div class="contact_form">
                        <div class="row">
                            <div class="wrapper-contacts-icons">    
                                <div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">    
                                    <i class="fa fa-map-marker"></i>
                                    <div class="">LNCT</div>
                                    <div class="">Raisen Road</div>
                                </div>                              
                                <div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="450ms">    
                                    <i class="fa fa-mobile-phone"></i>
                                    <div class="">Mon - Fri 08:00 AM 05:00 PM</div>
                                    <div class="">+91 7999339524</div>
                                </div>
                                <div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="600ms">    
                                    <i class="fa fa-envelope-o"></i>
                                    <div class="">Feel Free to Email Us</div>
                                    <div class="">sharmagks1810@gmail.com.com</div>
                                </div>                              
                                
                            </div>                              
                        </div>                              
                        <div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="800ms">
                            <!-- Start contact-form --> 
                            <form id="contact-form">
                                <div class="col-lg-6 col-sm-6">             
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" placeholder="Your name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="Your email address">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="subject" class="form-control" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">             
                                    <div class="form-group">
                                        <textarea  name="message" class="form-control" placeholder="Your message" rows="8"></textarea>
                                    </div>
                                    <div id="output"></div>
                                    <button id="button" type="button" value="Submit" class="btn btn-primary" onclick="alert('Your Email Sent, We will contact you soon!!')">Submit</button>
                                    <!-- <input type="submit" class="" value="Submit" onclick="submit()"> -->
                                </div>
                            </form>
                            <!-- End contact-form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contacts -->   
    
</section> 
<!-- End Contact Section -->   
<% include partials/footer %>     
    
