<% include partials/header %>
<!-- Slider -->
<section id="home">
    <div class="slide-wrap" style="  background: linear-gradient(to right, #da4453, #89216b);">
        <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active"> <!-- Change Image -->
                    <div class="caption">
                        <h1 class="animated fadeInLeftBig">Welcome to <strong>PROJECT VIKAS</strong></h1>
                        <p class="animated fadeInRightBig">Made For Common Citizens, Made For You</p>
                        <div class="buttons">
							<button type="button" class="btn btn-warning btn-lg mr-1"><a style="color:black;text-decoration:none" href="/index">Explore</a></button>
							<button type="button" class="btn btn-danger btn-lg ml-1"><a style="color:black;text-decoration:none" href="/analysis">View Our Analysis</a></button>
						</div>
                    </div>
                </div>
            </div>
            <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
        </div>  
    </div>  
</section>
<!-- End Slider -->
<% include partials/footer %>
