<% include partials/header %>

<!-- Sign In -->
<!--===============================================================================================-->  
  <link rel="icon" type="image/png" href="/public/auth/images/icons/favicon.ico"/>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/auth/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/auth/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/auth/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/auth/vendor/animate/animate.css">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="/public/auth/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/auth/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/auth/vendor/select2/select2.min.css">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="/public/auth/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/public/auth/css/util.css">
  <link rel="stylesheet" type="text/css" href="/public/auth/css/main.css">
<!--===============================================================================================-->

<!-- Preloader --> 
<div id="preloader">
    <div id="status">
        <div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
        </div>
    </div>
</div>
<!-- End Preloader -->

<header>

<!-- Bootstrap Menu -->
<div id="navigation">
    <div class="navbar-wrapper">
        <nav class="navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"></a>
                    </div>
                    <div id="mynav" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav main-nav-list" style="float: left;">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#team">Team</a></li>                            
                                <li><a href="#contacts">Contact</a></li>                                
                            </ul>
                            <ul class="nav navbar-nav main-nav-list" style="float: right;">
                                <li><a href="/register">Sign Up</a></li>                                
                            </ul>
                            <ul class="nav navbar-nav main-nav-list" style="float: right;">
                                <li><a href="/login">Sign In</a></li>                                
                            </ul> 
                    </div>      
                </div>
            </div>
        </nav>
    </div>
</div>


    
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" action="/register" method="POST">
                    <span class="login100-form-title p-b-26">
                        Sign Up
                    </span>
                   

                    <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                        <input class="input100" type="text" name="username">
                        <span class="focus-input100" data-placeholder="Email"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input class="input100" type="password" name="password">
                        <span class="focus-input100" data-placeholder="Password"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit">
                                Sign Up
                            </button>
                        </div>
                    </div>

                    <div class="text-center p-t-115">
                        <span class="txt1">
                            Don’t have an account?
                        </span>

                        <a class="txt2" href="login">
                            Sign In
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div> 
    
<!--===============================================================================================-->
    <script src="/public/auth/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="/public/auth/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
    <script src="/public/auth/vendor/bootstrap/js/popper.js"></script>
    <script src="/public/auth/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
    <script src="/public/auth/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
    <script src="/public/auth/vendor/daterangepicker/moment.min.js"></script>
    <script src="/public/auth/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
    <script src="/public/auth/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script src="/public/auth/js/main.js"></script>


<% include partials/footer %> 